<div class="home" >
    <div>
    </div>
    <h1>
        Budget app
    </h1>
    <div>
        <%= link_to "Sign In",  "/users/sign_in" %>  
        <%= link_to "Sign Up", "/users/sign_up" %>
    </div>
</div>